Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/BaseballField/dirt/vidpehm_8K_Albedo.uasset
Content/BaseballField/dirt/vidpehm_8K_Normal.uasset
